<div class="container card">
  <div class="card-body">
    <h4 class="card-title">Button overview</h4>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Variants</h5>
        <app-custom-button type="primary" (buttonClick)="onButtonClick($event)">
          Primary
        </app-custom-button>

        <app-custom-button type="success" (buttonClick)="onButtonClick($event)">
          Success
        </app-custom-button>

        <app-custom-button type="danger" (buttonClick)="onButtonClick($event)">
          Danger
        </app-custom-button>

        <app-custom-button type="warning" (buttonClick)="onButtonClick($event)">
          Warning
        </app-custom-button>

        <app-custom-button type="info" (buttonClick)="onButtonClick($event)">
          Info
        </app-custom-button>

        <app-custom-button type="light" (buttonClick)="onButtonClick($event)">
          light
        </app-custom-button>

        <app-custom-button type="dark" (buttonClick)="onButtonClick($event)">
          dark
        </app-custom-button>

        <app-custom-button type="link" (buttonClick)="onButtonClick($event)">
          link
        </app-custom-button>

        <app-custom-button
          type="primary"
          imageUrl="./assets/logo.png"
          (buttonClick)="onButtonClick($event)"
        >
          With Image
        </app-custom-button>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Outline buttons</h5>
        <app-custom-button
          type="primary"
          [outline]="true"
          (buttonClick)="onButtonClick($event)"
        >
          Primary
        </app-custom-button>

        <app-custom-button
          type="success"
          [outline]="true"
          (buttonClick)="onButtonClick($event)"
        >
          Success
        </app-custom-button>

        <app-custom-button
          type="danger"
          [outline]="true"
          (buttonClick)="onButtonClick($event)"
        >
          Danger
        </app-custom-button>

        <app-custom-button
          type="warning"
          [outline]="true"
          (buttonClick)="onButtonClick($event)"
        >
          Warning
        </app-custom-button>

        <app-custom-button
          type="info"
          [outline]="true"
          (buttonClick)="onButtonClick($event)"
        >
          Info
        </app-custom-button>

        <app-custom-button
          type="light"
          [outline]="true"
          (buttonClick)="onButtonClick($event)"
        >
          light
        </app-custom-button>

        <app-custom-button
          type="dark"
          [outline]="true"
          (buttonClick)="onButtonClick($event)"
        >
          dark
        </app-custom-button>

        <app-custom-button
          type="link"
          [outline]="true"
          (buttonClick)="onButtonClick($event)"
        >
          link
        </app-custom-button>

        <app-custom-button
          type="primary"
          imageUrl="./assets/logo.png"
          [outline]="true"
          (buttonClick)="onButtonClick($event)"
        >
          With Image
        </app-custom-button>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Disabled State</h5>
        <app-custom-button type="primary" [disabled]="true">
          Disabled Primary
        </app-custom-button>
        <app-custom-button type="secondary" [disabled]="true">
          Disabled secondary
        </app-custom-button>
        <app-custom-button type="primary" [outline]="true" [disabled]="true">
          Disabled Outline Primary
        </app-custom-button>
        <app-custom-button type="secondary" [outline]="true" [disabled]="true">
          Disabled Outline secondary
        </app-custom-button>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Sizes styles</h5>
        <app-custom-button
          type="primary"
          size="sm"
          (buttonClick)="onButtonClick($event)"
        >
          small button
        </app-custom-button>

        <app-custom-button type="primary" (buttonClick)="onButtonClick($event)">
          medium button
        </app-custom-button>

        <app-custom-button
          type="primary"
          size="lg"
          (buttonClick)="onButtonClick($event)"
        >
          large button
        </app-custom-button>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          Custom styles - This are the buttons without bootstrap styles
        </h5>
        <app-custom-button
          type="primary"
          [customTheme]="true"
          (buttonClick)="onButtonClick($event)"
        >
          custom primary button
        </app-custom-button>

        <app-custom-button
          [customTheme]="true"
          data-theme="dark"
          (buttonClick)="onButtonClick($event)"
        >
          custom Dark theme button
        </app-custom-button>

        <app-custom-button
          type="secondary"
          [customTheme]="true"
          (buttonClick)="onButtonClick($event)"
        >
          custom secondary button
        </app-custom-button>

        <app-custom-button
          type="secondary"
          [customTheme]="true"
          [outline]="true"
          (buttonClick)="onButtonClick($event)"
        >
          custom outline button
        </app-custom-button>
      </div>
    </div>
  </div>
</div>
